<h1>List authors</h1>
<table border="1">
<tr>
    <th>Username</th>
    <th>Email</th>
    <th>edit</th>
    <th>delete</th>
</tr>

      <tr>  {% for a in author %} </tr>
        <td>{{ a.username }}</td>
        <td> {{ a.email }}</td>
        <td><a href="{{ path('auth_edit', {'id': a.id}) }}">edit</a></td>
        <td> <a href="{{ path('auth_delete', {'id': a.id}) }}"> remove</td> 
        

    {% endfor %}

</table>