{% if authors is defined and authors|length > 0 %}
    <h1>number of autors : {{ authors|length }}</h1>
    {% set total =0 %}
<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>email</td>
    </tr>
    {% for var in authors %}
    <tr>
        <td>{{ var.id|upper }}</td>    
        <td>{{ var.username|upper }}</td>
        <td>{{ var.email|upper }}</td>
    </tr>
    {% endfor %}
    
</table>
{% else  %}
<h1>no authors found </h1>
{% endif %}


